{
  "openapi": "3.1.0",
  "info": {
    "title": "Fordefi API",
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://api.fordefi.com/",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/blockchains": {
      "get": {
        "tags": [
          "Blockchains"
        ],
        "summary": "List Chains",
        "description": "Get a list of supported blockchains.",
        "operationId": "list_chains_api_v1_blockchains_get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number to fetch.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page number to fetch."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "The number of items per page.",
              "default": 50,
              "title": "Size"
            },
            "description": "The number of items per page."
          },
          {
            "name": "skip_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to skip counting the total number of items.",
              "default": false,
              "title": "Skip Count"
            },
            "description": "Whether to skip counting the total number of items."
          },
          {
            "name": "chain_types",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Chain Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChainType"
              }
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The source of the chain. Can be:<ul><li>`default`: Chains with built-in support on Fordefi's platform.<li>`custom`: User-added chains with support on Fordefi's platform.</ul>",
              "title": "Sources",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChainSource"
              }
            },
            "description": "The source of the chain. Can be:<ul><li>`default`: Chains with built-in support on Fordefi's platform.<li>`custom`: User-added chains with support on Fordefi's platform.</ul>"
          },
          {
            "name": "include_mainnets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include Mainnets"
            }
          },
          {
            "name": "include_testnets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include Testnets"
            }
          },
          {
            "name": "include_exchanges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Exchanges"
            }
          },
          {
            "name": "show_all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include all chains in the response.",
              "default": false,
              "title": "Show All"
            },
            "description": "Include all chains in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBlockchainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/blockchains/suggested-fees": {
      "get": {
        "tags": [
          "Blockchains"
        ],
        "summary": "Get Suggested Fees",
        "description": "Get the suggested fees in a specific network.",
        "operationId": "get_suggested_fees_api_v1_blockchains_suggested_fees_get",
        "parameters": [
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Chains",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"arch_mainnet\"`</li><li>`\"arch_testnet\"`</li><li>`\"canton_mainnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_bbn-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_nillion-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_ssc-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"cosmos_thorchain-1\"`</li><li>`\"cosmos_mantra-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"exchange_kraken\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"solana_eclipse_mainnet\"`</li><li>`\"solana_fogo_mainnet\"`</li><li>`\"solana_fogo_testnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"stellar_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"tron_mainnet\"`</li><li>`\"tron_shasta\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"bitcoin_testnet_v4\"`</li><li>`\"dogecoin_mainnet\"`</li><li>`\"bitcoin_cash_mainnet\"`</li><li>`\"pearl_testnet\"`</li><li>`\"pearl_mainnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_14\"`</li><li>`\"evm_16\"`</li><li>`\"evm_30\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_130\"`</li><li>`\"evm_137\"`</li><li>`\"evm_143\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_999\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1672\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_8818\"`</li><li>`\"evm_8819\"`</li><li>`\"evm_9745\"`</li><li>`\"evm_16661\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_80094\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_57073\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_747474\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_rootstock_mainnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_unichain_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_monad_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_hyperevm_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_pharos_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_clink_mainnet\"`</li><li>`\"evm_clink_testnet\"`</li><li>`\"evm_plasma_mainnet\"`</li><li>`\"evm_zero_gravity_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_berachain_mainnet\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_ink_mainnet\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_katana_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>",
                "title": "ChainUniqueId"
              }
            }
          },
          {
            "name": "chain_types",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Chain Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChainType"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSuggestedFeesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults": {
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "List Vaults",
        "description": "Get a list of all vaults in an organization.",
        "operationId": "list_vaults_api_v1_vaults_get",
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ListVaultsSortableFields"
              },
              "title": "Sort By"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number to fetch.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page number to fetch."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "The number of items per page.",
              "default": 50,
              "title": "Size"
            },
            "description": "The number of items per page."
          },
          {
            "name": "skip_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to skip counting the total number of items.",
              "default": false,
              "title": "Skip Count"
            },
            "description": "Whether to skip counting the total number of items."
          },
          {
            "name": "vault_ids",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Vault IDs to filter on.",
              "title": "Vault Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "Vault IDs to filter on."
          },
          {
            "name": "names",
            "in": "query",
            "required": false,
            "schema": {
              "description": "List of full names to filter on.",
              "title": "Names",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "List of full names to filter on."
          },
          {
            "name": "vault_types",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Vault types to filter on.",
              "title": "Vault Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VaultType"
              }
            },
            "description": "Vault types to filter on."
          },
          {
            "name": "vault_states",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Vault states to filter on.",
              "title": "Vault States",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VaultState"
              }
            },
            "description": "Vault states to filter on."
          },
          {
            "name": "key_holder_ids",
            "in": "query",
            "required": false,
            "schema": {
              "description": "List of key holder IDs to filter on.",
              "title": "Key Holder Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "List of key holder IDs to filter on."
          },
          {
            "name": "vault_group_ids",
            "in": "query",
            "required": false,
            "schema": {
              "description": "List of vault group IDs to filter on. Filter applies to current and pending vault groups.",
              "title": "Vault Group Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "List of vault group IDs to filter on. Filter applies to current and pending vault groups."
          },
          {
            "name": "exclude_vault_group_ids",
            "in": "query",
            "required": false,
            "schema": {
              "description": "List of vault group IDs to exclude.",
              "title": "Exclude Vault Group Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "List of vault group IDs to exclude."
          },
          {
            "name": "origin_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Origin type to filter on.",
              "title": "Origin Type",
              "$ref": "#/components/schemas/VaultOriginType"
            },
            "description": "Origin type to filter on."
          },
          {
            "name": "account_addresses",
            "in": "query",
            "required": false,
            "schema": {
              "description": "List of account addresses to filter on.",
              "title": "Account Addresses",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "List of account addresses to filter on."
          },
          {
            "name": "positive_native_balance_chain_ids",
            "in": "query",
            "required": false,
            "schema": {
              "description": "List of chain IDs to fetch native assets for. Only vaults with positive native balance in any of these chains will be included in native_assets response.",
              "title": "Positive Native Balance Chain Ids",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"arch_mainnet\"`</li><li>`\"arch_testnet\"`</li><li>`\"canton_mainnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_bbn-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_nillion-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_ssc-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"cosmos_thorchain-1\"`</li><li>`\"cosmos_mantra-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"exchange_kraken\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"solana_eclipse_mainnet\"`</li><li>`\"solana_fogo_mainnet\"`</li><li>`\"solana_fogo_testnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"stellar_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"tron_mainnet\"`</li><li>`\"tron_shasta\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"bitcoin_testnet_v4\"`</li><li>`\"dogecoin_mainnet\"`</li><li>`\"bitcoin_cash_mainnet\"`</li><li>`\"pearl_testnet\"`</li><li>`\"pearl_mainnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_14\"`</li><li>`\"evm_16\"`</li><li>`\"evm_30\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_130\"`</li><li>`\"evm_137\"`</li><li>`\"evm_143\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_999\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1672\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_8818\"`</li><li>`\"evm_8819\"`</li><li>`\"evm_9745\"`</li><li>`\"evm_16661\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_80094\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_57073\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_747474\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_rootstock_mainnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_unichain_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_monad_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_hyperevm_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_pharos_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_clink_mainnet\"`</li><li>`\"evm_clink_testnet\"`</li><li>`\"evm_plasma_mainnet\"`</li><li>`\"evm_zero_gravity_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_berachain_mainnet\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_ink_mainnet\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_katana_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>",
                "title": "ChainUniqueId"
              }
            },
            "description": "List of chain IDs to fetch native assets for. Only vaults with positive native balance in any of these chains will be included in native_assets response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVaultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Vaults"
        ],
        "summary": "Create Vault",
        "description": "Create a new vault.",
        "operationId": "create_vault_api_v1_vaults_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVaultRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVaultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinedPreconditionError_CreateVaultErrorType_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "409": {
            "description": "Already Exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/export_async": {
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "Export Vaults With Assets Async",
        "description": "Get a CSV-format list of balances of all vaults and their assets.",
        "operationId": "export_vaults_with_assets_async_api_v1_vaults_export_async_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The number of vault/asset pairs to export, unlimited if not set.",
              "title": "Limit",
              "type": "integer"
            },
            "description": "The number of vault/asset pairs to export, unlimited if not set."
          },
          {
            "name": "vaults_ids",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Vault IDs to filter on.",
              "title": "Vaults Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "Vault IDs to filter on."
          },
          {
            "name": "vault_types",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Vault types to filter on.",
              "title": "Vault Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VaultType"
              }
            },
            "description": "Vault types to filter on."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Export Vaults With Assets Async Api V1 Vaults Export Async Get",
                  "$ref": "#/components/schemas/Export"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/vaults/{id}": {
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "Get Vault",
        "description": "Retrieve vault details.",
        "operationId": "get_vault_api_v1_vaults__id__get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault to retrieve.",
              "title": "Id"
            },
            "description": "ID of the vault to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVaultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/{id}/assets/{asset_id}": {
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "Get Vault Asset",
        "description": "Get a specific asset in a vault.",
        "operationId": "get_vault_asset_api_v1_vaults__id__assets__asset_id__get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault to retrieve.",
              "title": "Id"
            },
            "description": "ID of the vault to retrieve."
          },
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the asset to retrieve.",
              "title": "Asset Id"
            },
            "description": "ID of the asset to retrieve."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number to fetch.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page number to fetch."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "The number of items per page.",
              "default": 50,
              "title": "Size"
            },
            "description": "The number of items per page."
          },
          {
            "name": "skip_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to skip counting the total number of items.",
              "default": false,
              "title": "Skip Count"
            },
            "description": "Whether to skip counting the total number of items."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOwnedAssetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/{id}/assets": {
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "Get Vault Assets",
        "description": "Get a list of all assets in a vault.",
        "operationId": "get_vault_assets_api_v1_vaults__id__assets_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault to retrieve.",
              "title": "Id"
            },
            "description": "ID of the vault to retrieve."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number to fetch.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page number to fetch."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "The number of items per page.",
              "default": 50,
              "title": "Size"
            },
            "description": "The number of items per page."
          },
          {
            "name": "skip_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to skip counting the total number of items.",
              "default": false,
              "title": "Skip Count"
            },
            "description": "Whether to skip counting the total number of items."
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Chains",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"arch_mainnet\"`</li><li>`\"arch_testnet\"`</li><li>`\"canton_mainnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_bbn-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_nillion-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_ssc-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"cosmos_thorchain-1\"`</li><li>`\"cosmos_mantra-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"exchange_kraken\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"solana_eclipse_mainnet\"`</li><li>`\"solana_fogo_mainnet\"`</li><li>`\"solana_fogo_testnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"stellar_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"tron_mainnet\"`</li><li>`\"tron_shasta\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"bitcoin_testnet_v4\"`</li><li>`\"dogecoin_mainnet\"`</li><li>`\"bitcoin_cash_mainnet\"`</li><li>`\"pearl_testnet\"`</li><li>`\"pearl_mainnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_14\"`</li><li>`\"evm_16\"`</li><li>`\"evm_30\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_130\"`</li><li>`\"evm_137\"`</li><li>`\"evm_143\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_999\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1672\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_8818\"`</li><li>`\"evm_8819\"`</li><li>`\"evm_9745\"`</li><li>`\"evm_16661\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_80094\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_57073\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_747474\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_rootstock_mainnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_unichain_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_monad_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_hyperevm_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_pharos_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_clink_mainnet\"`</li><li>`\"evm_clink_testnet\"`</li><li>`\"evm_plasma_mainnet\"`</li><li>`\"evm_zero_gravity_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_berachain_mainnet\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_ink_mainnet\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_katana_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>",
                "title": "ChainUniqueId"
              }
            }
          },
          {
            "name": "asset_ids",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Asset Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "is_hidden",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Is Hidden",
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Search",
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Sort By",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/OwnedAssetsSortableFields"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOwnedAssetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/{id}/proposals": {
      "post": {
        "tags": [
          "Vaults"
        ],
        "summary": "Submit Update Vault Change Proposal",
        "description": "Submit an update vault change proposal. Verify, approve, and abort are handled via the user-actions API.",
        "operationId": "submit_update_vault_change_proposal_api_v1_vaults__id__proposals_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault to submit a change proposal for.",
              "title": "Id"
            },
            "description": "ID of the vault to submit a change proposal for."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitUpdateVaultChangeProposalRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/{id}/archive": {
      "post": {
        "tags": [
          "Vaults"
        ],
        "summary": "Archive Vault",
        "description": "Archive an existing vault.",
        "operationId": "archive_vault_api_v1_vaults__id__archive_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault to archive.",
              "title": "Id"
            },
            "description": "ID of the vault to archive."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/{id}/restore": {
      "post": {
        "tags": [
          "Vaults"
        ],
        "summary": "Restore Vault",
        "description": "Restore an archived vault.",
        "operationId": "restore_vault_api_v1_vaults__id__restore_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault to restore.",
              "title": "Id"
            },
            "description": "ID of the vault to restore."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/{id}/name": {
      "put": {
        "tags": [
          "Vaults"
        ],
        "summary": "Rename Vault",
        "description": "Rename an existing vault.",
        "operationId": "rename_vault_api_v1_vaults__id__name_put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault to rename.",
              "title": "Id"
            },
            "description": "ID of the vault to rename."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameVaultRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "409": {
            "description": "Already Exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/{id}/addresses": {
      "post": {
        "tags": [
          "Vaults"
        ],
        "summary": "Create Address",
        "description": "Create a new address.",
        "operationId": "create_address_api_v1_vaults__id__addresses_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault to create address in.",
              "title": "Id"
            },
            "description": "ID of the vault to create address in."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVaultAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVaultAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinedPreconditionError_CreateVaultAddressErrorType_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "List Vault Addresses",
        "description": "Get a list of all addresses in a vault.",
        "operationId": "list_vault_addresses_api_v1_vaults__id__addresses_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault.",
              "title": "Id"
            },
            "description": "ID of the vault."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VaultAddressSortableFields"
              },
              "title": "Sort By"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number to fetch.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page number to fetch."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "The number of items per page.",
              "default": 50,
              "title": "Size"
            },
            "description": "The number of items per page."
          },
          {
            "name": "skip_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to skip counting the total number of items.",
              "default": false,
              "title": "Skip Count"
            },
            "description": "Whether to skip counting the total number of items."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Search",
              "type": "string"
            }
          },
          {
            "name": "addresses",
            "in": "query",
            "required": false,
            "schema": {
              "description": "List of addresses to filter on.",
              "title": "Addresses",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "List of addresses to filter on."
          },
          {
            "name": "address_types",
            "in": "query",
            "required": false,
            "schema": {
              "description": "List of address types to filter on.",
              "title": "Address Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UtxoAddressType"
              }
            },
            "description": "List of address types to filter on."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVaultAddressesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vaults/addresses/{id}/name": {
      "put": {
        "tags": [
          "Vaults"
        ],
        "summary": "Rename Vault Address",
        "description": "Rename an existing vault address.",
        "operationId": "rename_vault_address_api_v1_vaults_addresses__id__name_put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the vault address to rename.",
              "title": "Id"
            },
            "description": "ID of the vault address to rename."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameVaultRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "409": {
            "description": "Already Exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/export": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Export Transactions",
        "description": "Start the export process for filtered transactions using cursor pagination.",
        "operationId": "export_transactions_api_v1_transactions_export_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The amount of transactions to export, unlimited if not set.",
              "title": "Limit",
              "type": "integer"
            },
            "description": "The amount of transactions to export, unlimited if not set."
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Created Before",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Created After",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Modified After",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "vault_ids",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The filter applies both to transactions that have been signed by the vault and also to transactions that have interacted with the vault. ",
              "title": "Vault Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "The filter applies both to transactions that have been signed by the vault and also to transactions that have interacted with the vault. "
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Chains",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"arch_mainnet\"`</li><li>`\"arch_testnet\"`</li><li>`\"canton_mainnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_bbn-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_nillion-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_ssc-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"cosmos_thorchain-1\"`</li><li>`\"cosmos_mantra-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"exchange_kraken\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"solana_eclipse_mainnet\"`</li><li>`\"solana_fogo_mainnet\"`</li><li>`\"solana_fogo_testnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"stellar_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"tron_mainnet\"`</li><li>`\"tron_shasta\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"bitcoin_testnet_v4\"`</li><li>`\"dogecoin_mainnet\"`</li><li>`\"bitcoin_cash_mainnet\"`</li><li>`\"pearl_testnet\"`</li><li>`\"pearl_mainnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_14\"`</li><li>`\"evm_16\"`</li><li>`\"evm_30\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_130\"`</li><li>`\"evm_137\"`</li><li>`\"evm_143\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_999\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1672\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_8818\"`</li><li>`\"evm_8819\"`</li><li>`\"evm_9745\"`</li><li>`\"evm_16661\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_80094\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_57073\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_747474\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_rootstock_mainnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_unichain_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_monad_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_hyperevm_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_pharos_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_clink_mainnet\"`</li><li>`\"evm_clink_testnet\"`</li><li>`\"evm_plasma_mainnet\"`</li><li>`\"evm_zero_gravity_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_berachain_mainnet\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_ink_mainnet\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_katana_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>",
                "title": "ChainUniqueId"
              }
            }
          },
          {
            "name": "initiator_ids",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Initiator Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TransactionType"
              }
            }
          },
          {
            "name": "sub_types",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Sub Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TransactionSubType"
              }
            }
          },
          {
            "name": "signer_types",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Signer Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SignerType"
              }
            }
          },
          {
            "name": "user_types",
            "in": "query",
            "required": false,
            "schema": {
              "title": "User Types",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UserType"
              }
            }
          },
          {
            "name": "transaction_ids",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Transaction Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "end_user_ids",
            "in": "query",
            "required": false,
            "schema": {
              "title": "End User Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "asset_ids",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Asset Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Direction",
              "$ref": "#/components/schemas/TransactionDirection"
            }
          },
          {
            "name": "transaction_hashes",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Transaction hashes to filter by. Will return transactions with any of the specified hashes. The format of the hash depends on the blockchain type.",
              "title": "Transaction Hashes",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Transaction hashes to filter by. Will return transactions with any of the specified hashes. The format of the hash depends on the blockchain type."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "description": "String to search transactions by ID or hash.",
              "title": "Search",
              "type": "string"
            },
            "description": "String to search transactions by ID or hash."
          },
          {
            "name": "frozen",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Filter for frozen transactions or transactions that were unfrozen.",
              "title": "Frozen",
              "type": "boolean"
            },
            "description": "Filter for frozen transactions or transactions that were unfrozen."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Export Transactions Api V1 Transactions Export Get",
                  "$ref": "#/components/schemas/Export"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Transaction",
        "description": "Retrieve transaction details.",
        "operationId": "get_transaction_api_v1_transactions__id__get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the transaction to retrieve.",
              "title": "Id"
            },
            "description": "ID of the transaction to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List Transactions",
        "description": "Get a list of all transactions in an organization.",
        "operationId": "list_transactions_api_v1_transactions_get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number to fetch.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page number to fetch."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "The number of items per page.",
              "default": 50,
              "title": "Size"
            },
            "description": "The number of items per page."
          },
          {
            "name": "skip_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to skip counting the total number of items.",
              "default": false,
              "title": "Skip Count"
            },
            "description": "Whether to skip counting the total number of items."
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Created Before",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Created After",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Modified After",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "vault_ids",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The filter applies both to transactions that have been signed by the vault and also to transactions that have interacted with the vault. ",
              "title": "Vault Ids",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "The filter applies both to transactions that have been signed by the vault and also to transactions that have interacted with the vault. "
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Chains",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
[...]
